
<h2 class="examle-h2"><mat-icon>perm_data_setting</mat-icon> Edit your task</h2>
<div class="priorityBox">
  <mat-label class="priorityLabel">Priority</mat-label>
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button class="radioBtn" ngDefaultControl [(ngModel)]="task.body.highPriority" [ngModelOptions]="{standalone: true}" value="true">high</mat-radio-button>
    <mat-radio-button class="radioBtn" ngDefaultControl [(ngModel)]="task.body.highPriority" [ngModelOptions]="{standalone: true}" value="false">low</mat-radio-button>
  </mat-radio-group>
</div>

<form>


  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>List</mat-label>
    <textarea [(ngModel)]="task.listId" [ngModelOptions]="{standalone: true}" matInput placeholder="Enter the name of a dynamic list" id="listIdInput" type="text"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Topic</mat-label>
    <textarea [(ngModel)]="task.body.topic" [ngModelOptions]="{standalone: true}" matInput placeholder="Topic of the task"  type="text"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Team</mat-label>
    <textarea [(ngModel)]="task.team" [ngModelOptions]="{standalone: true}" matInput placeholder="Team"  type="text"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Description</mat-label>
    <textarea [(ngModel)]="task.body.description" [ngModelOptions]="{standalone: true}" matInput placeholder="Description"  type="text"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Deadline</mat-label>
    <input matInput [(ngModel)]="selectedDate" [ngModelOptions]="{standalone: true}" [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
  </mat-form-field>

</form>

<div class="example-button-row">
<button mat-raised-button color="primary" cdkFocusInitial  aria-label="snack-bar" class="button mat-primary" (click)="sendUpdate()" matDialogClose="">Send update</button>
<button mat-raised-button color="warn" cdkFocusInitial  aria-label="snack-bar" class="button mat-primary" (click)="deleteTask()" matDialogClose="">Delete task</button>
</div>
