<p>Bearbeite deine Aufgabe</p>


<form>
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>List</mat-label>
  <textarea [(ngModel)]="listIdInput1" [ngModelOptions]="{standalone: true}" matInput placeholder="Ex. It makes me feel..." id="listIdInput" type="text"></textarea>
</mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Topic</mat-label>
    <textarea [(ngModel)]="bTopicInput" [ngModelOptions]="{standalone: true}" matInput placeholder="Ex. It makes me feel..."  type="text"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Priority</mat-label>
    <textarea [(ngModel)]="bPriorityInput" [ngModelOptions]="{standalone: true}" matInput placeholder="Ex. It makes me feel..."  type="text"></textarea>
  </mat-form-field>


  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Team</mat-label>
    <textarea [(ngModel)]="teamInput" [ngModelOptions]="{standalone: true}" matInput placeholder="Ex. It makes me feel..."  type="text"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Deadline</mat-label>
    <textarea [(ngModel)]="deadlineInput" [ngModelOptions]="{standalone: true}" matInput placeholder="Ex. It makes me feel..."  type="text"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Description</mat-label>
    <textarea [(ngModel)]="bDescriptionInput" [ngModelOptions]="{standalone: true}" matInput placeholder="Ex. It makes me feel..."  type="text"></textarea>
  </mat-form-field>

</form>
<button mat-button color="primary" (click)="sendUpdate()">Send update</button>
<button mat-button color="warn" (click)="deleteTask()">Delete task</button>
