.spacer{
  flex: 1 1 auto;
}
mat-toolbar{
  background: #004a9f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Toolbar{
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
 mat-sidenav{
   width: 200px;
   background:#004a9f;
   margin: 16px;
   border-right: none;
   color: white;
   border-radius: 10px;
   padding: 16px;
   text-align: center;
 }
mat-sidenav-container{
  height:calc(100vh - 65px );
  justify-content: space-between;
}
 .content{
 height: calc(100vh - 98px);
   margin: 16px;
   margin-left: 32px;
   display: flex;
   justify-content: center;
   align-items:center;
   font-size: 1rem;
   border-radius: 20px;

}
.more-vert{
  flex: 1 1 auto;
  margin-right: 12px;
}

.menu-button{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   font-size: 1rem;
  flex: 5 5 auto;
 }
mat-icon{
  margin-right: 8px;
}
 .name{
   margin: 0;
   margin-top: 8px;
   font-weight:normal ;
 }
 .designation{
   margin-top: 2px;
   font-size: 0.7rem;
   color: lightgrey;
 }
 mat-divider{
   margin-top: 16px;
   margin-bottom: 16px;
   background-color: rgba(255, 255, 255, 0.5);
 }

