<div id="Wrapper">
    <mat-toolbar color="primary" id="Toolbar">
      <h4>TaskFly</h4>

      <button mat-button (click)="opened=!opened" ><mat-icon>menu</mat-icon></button>
      <button mat-button><mat-icon>home</mat-icon><a routerLink="/sign-up">Home</a></button>
      <div class="spacer"></div>
      <div>
          <button mat-button routerLink="/login" *ngIf="!loginStatus">
            <mat-icon>login</mat-icon>
            Login
          </button>

        <button mat-button id="openResetButton" (click)="openReset()" *ngIf="!loginStatus">Passwort vergessen?</button>

        <button mat-button [matMenuTriggerFor]="menu" *ngIf="loginStatus">Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/login" (click)="logout()">Logout</button>
          <button mat-menu-item routerLink="/userSetting">Settings</button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <mat-sidenav-container>
       <mat-sidenav [(opened)]="opened" mode="side" *ngIf="loginStatus">
         <h4 class="name">User Name</h4>
         <mat-divider></mat-divider>
          <br>


         <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<mat-list *ngIf="enabled && loginStatus">

  <mat-list-item class="listElement" routerLink="/list" (click)="saveCurrentListId('','Important',this.store.getData('loggedInUserId'))">Important</mat-list-item>
</mat-list>
         <br><br><br>
         <mat-list *ngIf="loginStatus">
           <mat-list-item class="listElement" *ngFor="let list of allDynamicLists" routerLink="/list" (click)="saveCurrentListId(list.id,list.name,list.ownerID)">{{list.name}}</mat-list-item>
         </mat-list>
         <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->


         <button mat-raised-button class="newlistbutton"(click)="openDialoge()" *ngIf="loginStatus">
           <mat-icon>add</mat-icon><a>Neue Liste</a>
         </button><br>


       </mat-sidenav>

      <mat-sidenav-content>

         <router-outlet></router-outlet>
        <app-add-task id="Task" *ngIf="loginStatus && !(this.router.url =='/userSetting')">
        </app-add-task>
      </mat-sidenav-content>
    </mat-sidenav-container>

<!-- here link the create new list button to auto-render the list again -->
<button (click)="test()">Create new List!</button>
</div>
