<div id="Wrapper">
    <mat-toolbar color="primary" id="Toolbar">
      <h4>TaskFly</h4>

      <button mat-button (click)="opened=!opened" ><mat-icon>menu</mat-icon></button>
      <button mat-button><mat-icon>home</mat-icon><a routerLink="/sign-up">Home</a></button>
      <div class="spacer"></div>
      <div>
          <button mat-button routerLink="/login" *ngIf="!loginStatus">
            <mat-icon>login</mat-icon>
            Login
          </button>

        <button mat-button id="openResetButton" (click)="openReset()" *ngIf="!loginStatus">Forgot password<mat-icon>live_help</mat-icon></button>
        <button mat-button [matMenuTriggerFor]="menu" *ngIf="loginStatus"><mat-icon>playlist_add</mat-icon>Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/login" (click)="logout()"><mat-icon>exit_to_app</mat-icon>Logout</button>
          <button mat-menu-item routerLink="/userSetting"><mat-icon>perm_device_information</mat-icon>Settings</button>
        </mat-menu>
      </div>
    </mat-toolbar>

    <mat-sidenav-container id="sidenavContainer">

       <mat-sidenav [(opened)]="opened" mode="side" *ngIf="loginStatus" id="sidenav">
         <div id="test1">
           <div id="test2">

             <img class="avatar mat-elevation-z4" src="assets/img/105198243.jpeg" alt="{{'language' }}">
             <h4>{{email}}</h4>
             <p class="designation">Software Engineer</p>
         <mat-divider></mat-divider>
          <br>
         <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<mat-list *ngIf="enabled && loginStatus">

  <mat-list-item class="listElement" routerLink="/list" (click)="saveCurrentListId('','Important',this.store.getData('loggedInUserId'))">Important</mat-list-item>
  <mat-list-item class="listElement" routerLink="/list" (click)="saveCurrentListId('','Geplant',this.store.getData('loggedInUserId'))">Scheduled</mat-list-item>
  <mat-list-item class="listElement" routerLink="/list" (click)="saveCurrentListId('','MyDay',this.store.getData('loggedInUserId'))">My Tasks</mat-list-item>
</mat-list>
         <br><br>
         <mat-list *ngIf="loginStatus">
           <mat-list-item class="listElement" *ngFor="let list of allDynamicLists" routerLink="/list" (click)="saveCurrentListId(list.id,list.name,list.ownerID)">{{list.name}}</mat-list-item>
         </mat-list>
             <br><br>
             <mat-list>
               <mat-list-item class="listElement" routerLink="/myday">Tutorial</mat-list-item>
             </mat-list>
         <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

          </div>
         <button mat-raised-button class="newlistbutton" (click)="openDialoge()" *ngIf="loginStatus">
           <mat-icon>add</mat-icon><a>New List</a>
         </button><br>
         </div>

       </mat-sidenav>

      <mat-sidenav-content>
         <router-outlet></router-outlet>
        <app-add-task id="Task" *ngIf="loginStatus && !(this.router.url =='/userSetting') && !this.detectStaticList() && !(this.router.url =='/myday')">
        </app-add-task>
      </mat-sidenav-content>
    </mat-sidenav-container>

</div>
