.spacer{
  flex: 1 1 auto;
}
mat-toolbar{
  background: #004a9f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sidenav{
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
#Toolbar{
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
 mat-sidenav{
   width: 200px;
   background:#004a9f;
   margin: 16px;
   border-right: none;
   color: white;
   border-radius: 10px;
   padding: 16px;
   justify-content: space-between;
   display: flex;
   text-align: center;
 }
mat-sidenav-container{
  height:calc(100vh - 65px );
  justify-content: space-between;
}

 .content{
 height: calc(100vh - 98px);
   margin: 16px;
   margin-left: 32px;
   display: flex;
   justify-content: center;
   align-items:center;
   font-size: 1rem;
   border-radius: 20px;

}
.more-vert{
  flex: 1 1 auto;
  margin-right: 12px;
}

.menu-button{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   font-size: 1rem;

 }
mat-icon{
  margin-right: 8px;
}
.test1{
  display: flex;
  justify-content: space-between;
}
.newlistbutton{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  flex: 1 1 auto;
  bottom: 2rem;
  top:2rem;
  align-self: flex-end;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0.26);
}
#Task{
  bottom: 0;
  position: absolute;
  left: auto;
  right: 50%;
}
 .name{
   margin: 0;
   margin-top: 8px;
   font-weight:normal ;
 }

 .designation{
   margin-top: 2px;
   font-size: 0.7rem;
   color: lightgrey;
 }
 mat-divider{
   margin-top: 16px;
   margin-bottom: 16px;
   background-color: rgba(255, 255, 255, 0.5);
 }
 .avatar{
   background-repeat: no-repeat;
   background-position: center;
   width: 75%;
   height: 100px;
   border-radius: 100%;
 }
.listElement{
  color: white;
  border: #eceff1;
}
.listElement:hover{
  cursor: pointer;
  color: grey;
}

