<div id="main-wrap">
  <mat-toolbar color="secondary" id="listToolbar">
    <span>{{renderListName}}</span>
    <span class="example-spacer"></span>
    <div id="buttonWrap">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="openListDialog()">
        <mat-icon>share</mat-icon>
      </button>

      <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button  mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span >Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>

      <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->


      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </mat-toolbar>




  <mat-list role="list"  id="taskList">
   <mat-list-item *ngFor="let t of this.taskData" class="listElement" role="listitem" id="taskItem" (click)="openTaskDialog(t.id)">{{t.body.topic}} mit Priorität: {{t.body.priority}}</mat-list-item>
 </mat-list>
 <!-- <button (click)="openTaskDialog("1")>OPEN</button> -->

</div>
