<div class="form-container mat-elevation-z5">
<h1>Settings</h1>
<form [formGroup]="Settings">
<mat-tab-group dynamicHeight>
  <mat-tab label="tabUser">
      <ng-template mat-tab-label>
        User Settings
        <mat-icon class="icon">settings</mat-icon>
      </ng-template>

      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name"/>
      </mat-form-field><br>

      <mat-form-field>
        <input matInput placeholder="Email address" formControlName="email"/>
      </mat-form-field><br>

      <mat-form-field>
        <input matInput placeholder="Passwort" formControlName="psw"/>
      </mat-form-field>
    <div class="center margin-top">
      <button mat-raised-button color="primary">
        Update !
      </button>
    </div><br>
  </mat-tab>

  <mat-tab label="tabTeam">
    <ng-template mat-tab-label>
      Team Management
      <mat-icon class="icon">perm_identity</mat-icon>
    </ng-template>
    <mat-form-field>
      <input matInput placeholder="Team Name" formControlName="teamName"/>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="Team Member" formControlName="teamMember"/>
    </mat-form-field><br>
    <div class="center margin-top">
      <button mat-raised-button color="primary">
        Create !
      </button>
    </div><br>
  </mat-tab>
</mat-tab-group>
</form>
</div>
