
<div class="form-container mat-elevation-z5">
<h3>About TaskFly</h3>
<h5 class="quote">"Planung ersetzt Zufall durch Irrtum"</h5>
  <section class="section">
    <h4 class="sectionTitle">General Idea</h4>
    TaskFly is a tool for managing lists of tasks. Create a list for one of your projects and create tasks on it
    to never lose track. You can also share your lists with other users so that you are always up to date in your collaboration.
    Invite members to your team, work on projects together and at the same time keep an eye on your private tasks, have fun with TaskFly.
  </section>

  <section class="section">
    <h4 class="sectionTitle">The Toolbar</h4>
    In the toolbar you will find all options to modify the information of your user account. You can also show and hide the side menu here, and log in and out
    or reset your password.
  </section>
  <section class="section">
    <h4 class="sectionTitle">The Sidemenu</h4>
    Here you will find your lists of tasks. On the predefined lists Important, Scheduled and MyTasks you will find the tasks that you have marked as important,
    have specified a deadline within the current week and all tasks that you have created yourself.
    You can of course create lists yourself using the button.
  </section>
</div>
