html,body{height: 100%; }
body{margin: 0; font-family: Roboto,"Helvetica Neue",sans-serif; }
.form-container{
  display: block;
  max-width: 800px;
  margin: auto;

  background: #eceff1;
  padding: 50px;
  border-radius: 16px;

}
.form-container mat-form-field{
  width: 100%;
}
.button-class{
  display: flex;
  align-items: center;
  justify-content: center;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up-link{
  font-size: 1.2rem;
  margin-left: 8px;
}
.quote{
  font-style: italic;
}
.section{
  margin-top:0.2rem;
  margin-bottom: 0.5rem;
}
.sectionTitle{
  margin-top:0.5rem;
  font-style: oblique;
  font-weight: bold;
}
