<div id="resetContainer">
  <mat-progress-spinner class="progressSpinner" mode="indeterminate" *ngIf="isLoading">

  </mat-progress-spinner>
  <div id="resetForm" *ngIf="!isLoading">
    <h1>Reset Password</h1>
    <p>Please enter a new password:</p>

    <form [formGroup]="resetForm" (ngSubmit)="submitNewPassword()">
      <mat-form-field>
        <input id="pwdInput" matInput placeholder="new password" formControlName="password" type="password"/>
        <mat-error *ngIf="password?.errors?.['required']" id="passwordError">
          required field
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input id="pwdRepeat" matInput placeholder="repeat new password" formControlName="repeatPassword" type="password"/>
        <mat-error *ngIf="repeatPassword?.errors?.['required']" id="repeatPasswordError">
          required field
        </mat-error>
      </mat-form-field>
      <br>
      <mat-error *ngIf="resetForm.errors?.['passwordsUnequal']" id="passwordsUnequalError">
        both passwords do not match
      </mat-error>
      <button  mat-raised-button color="primary" type="submit">
        Login
      </button>
    </form>
  </div>
</div>
