html,body{height: 100%; }
body{margin: 0; font-family: Roboto,"Helvetica Neue",sans-serif; }


.form-container{
  display: block;
  margin: auto;
  border-radius: 16px;
  bottom: 0px;
  max-width: 200px;
}
.form-container mat-form-field{
  width: 100%;

}
.button-class{
  display: flex;
  align-items: center;
  justify-content: center;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;

}
.sign-up-link{
  font-size: 1.2rem;
  margin-left: 8px;
}

td {
  display: table-cell;
  vertical-align: inherit;
  text-transform: full-size-kana;
  color: #d92f2f;
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

.mat-form-field input {
  height: 20px;
  transition: height ease-in-out 400ms;
}

.mat-form-field input:focus {
  height: 50px;
  transition: height ease-in-out 400ms;
}
