
  <h1>Liste Hinzufügen </h1>
  <div layout="row" layout-align="center center" >
  <div mat-dialog-content class="id" >
    <mat-form-field hintLabel="Max 10 characters" appearance="outline">
      <mat-label>Neue Liste</mat-label><mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <input matInput #input maxlength="10" placeholder="Ex. Nougat" [(ngModel)]="value">
      <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
      <mat-hint align="end">{{input.value.length}}/10</mat-hint>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="okay" >
    <button mat-stroked-button (click)="onNoClick()">Nein,danke</button>
    <button mat-stroked-button cdkFocusInitial  aria-label="snack-bar">Okay</button>

  </div><br><br><br><br><br>
    </div>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>


