


<h1 class="title">Liste Hinzufügen </h1><br>
  <form [formGroup]="KollectionForm" id="reset-dialog-form">

      <mat-form-field hintLabel="Max 10 characters" appearance="outline" class="test">

        <mat-label>Neue Liste</mat-label><mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

        <input matInput #input maxlength="10" placeholder="Ex. Nougat" formControlName ="list" class="form-control" name="first">

        <mat-hint align="end">{{input.value.length}}/10</mat-hint>

      </mat-form-field>


  </form>
    <div mat-dialog-actions class="okay">

      <button mat-raised-button color="primary" matDialogClose="">Closed</button>

      <button mat-raised-button color="accent" cdkFocusInitial  aria-label="snack-bar" class="button mat-primary" (click)="kollectionUser()" >Add list</button>


    </div><br><br><br><br><br>

    <mat-progress-bar mode="buffer"></mat-progress-bar>


